@model BlackJackApp.ViewModels.GameModels.RoundGameView

<div style="text-align:right">
    <div id="playerTable">
        @{Html.RenderPartial("CreateNextRoundForPlayers", Model);}
    </div>

    <div id="dealerTable">
        @{Html.RenderPartial("CreateNextRoundForDealer", Model);}
    </div>
</div>
<div class="curGame" id="enough" style="text-align:center">
    @using (Html.BeginForm("CreateNextRoundForDealer", "Game", FormMethod.Post))
    {
        @Html.HiddenFor(r => Model.GameId)
        <div id="result">
            @Html.HiddenFor(r => Model.IsResultComplete)
        </div>
        <input type="submit" value="enough" id="takeButton" />
    }
</div>
<div class="curGame" id="take" style="text-align:center">
    @using (Ajax.BeginForm("CreateNextRoundForPlayers", "Game", new AjaxOptions
    {
        UpdateTargetId = "playerTable",
        HttpMethod = "Post",
        OnSuccess = "OnSuccess",
    }))
    {
        @Html.HiddenFor(r => Model.GameId)
        @Html.HiddenFor(r => Model.IsResultComplete)
        <input type="submit" value="take" id="enoughButton" />
    }
</div>
@Scripts.Render("~/bundles/StartGameView/current-game")
@Scripts.Render("~/bundles/jquery")



